@import 'variables';
@import 'mixins';
@import 'setup';

.indexHeader {
    background: url(.././assets/home-header.jpg);
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 5%;
    li {
        margin: 0 30px 0 0;
        padding: 0;
    }
}


span.restaurant {
    background-color: white;
    color: black;
}

.floatingPhoto {
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;

}

.indexHeaderContainer {
    position: relative;
}

.indexHeaderContainer h1 {
    width: 40%;
    padding-top: 3%;
    margin: 0;
    
}

// ABOUT STYLINGS // 

.about {
    padding: 20% 0 10%;
    display: flex;
    flex-wrap: wrap;
}

.aboutPoints {
    width: 50%;
    display: flex;
    h2 {
        @include header2White();
    }
}

.icon {
    background-color: $sunflowerYellow;
    font-size: 4.5rem;
    width: 100px;
    height: 100px;
    padding: 50px;
    border-radius: 50%;
    margin-right: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.icon a {
    color: black;
}

.locationWords, .communityWords {
    padding-bottom: 10%;
}

// FOOD SECTION STYLINGS 

.foodSection {
    background-color: $almostBlack;
    position: relative;
}

.foodColumns {
    display: flex;
    flex-wrap: wrap;
}

.column {
    margin: 0 auto;
    height: 60vh;
    width: 50%;
    h3 {
        @include header3Text();
    }
    a {
        @include buttonsText();
        color: black;
        background-color: $sunflowerYellow;
        padding: 15px; 
    }
}

.burgerPhotoColumn, .hummusPhotoColumn {
    background-color: $almostBlack;
    position: relative;
}

.photoDiv {
    width: 90%;
}

.hummusPhoto {
    position: absolute;
    bottom: -20%;
    right: 0; 
}

.burgerPhoto {
    position: absolute;
    top: -20%;
    left: 0; 
}

.burgerPhoto img {
    box-shadow: 25px 25px $sunflowerYellow;
}

.hummusPhoto img {
    box-shadow: -25px -25px $sunflowerYellow; 
    
}

.burgerText, .newText {
    padding: 50px 0 0 25px;
}

.newText {
    padding-top: 0;
    text-align: right;
}

.column p {
    margin-bottom: 25px;
}


//win a giftcard sections//

.giftCard {
    padding: 10% 0;
    text-align: center;
    h2 {
        @include header2Yellow;
    }
    p {
        text-align: left;
        margin: 0 0 5% 0;
    }
    a {
        @include buttonsText();
        background-color: black;
        color: white;
        margin-top: 50px;
        
    }
}

//banner image//

.indexBanner {
    background-image: url(.././assets/banner.jpg);
    width: 100%;
    height: 75vh;
    margin-bottom: 5%;
    background-repeat: no-repeat;
    background-size: cover;
    
}

//Nature Spaces Section//

.nature {
    display: flex;
    align-items: center;
    padding-bottom: 10%;
    h2 {
        @include header2Yellow 
    }
    p {
        padding-bottom: 15px;
    }
    a {
        @include buttonsText;
        background-color: black;
        color: white;
    }
}

.natureImageContainer {
    width: 30%;
}

.natureImage {
    width: 80%;
    box-shadow: -15px 15px  $sunflowerYellow;
}

.natureText {
    width: 70%;
}

// GALLERY SECTION//
.gallerySection {
    background-color: $almostBlack;
    padding: 10% 0; 
}

.gallery {
    display: flex;
    justify-content: center;
    
}

.gallery div {
    width: calc(100% / 3);
    padding-right: 30px;
}

.bowlsImage {
    padding: 0;
}

//footer styles//

footer {
    background-color: black;
    text-align: center;
    padding: 10px;
}