@import 'setup';
@import 'variables';
@import 'mixins';
@import 'index';
@import 'contact';
@import 'blog';
@import 'mediaQueries';

// GLOBAL STYLINGS//

html {
    font-size: 62.5%;
    background-color: $pine;
}

body {
    font-family: $fontJosefin;
}

.wrapper {
    max-width: 1080px;
    width: 90%;
    margin: 0 auto;
}

body, h1, h2, h3, h4, p {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

h1 {
    @include header1Text();
}

p {
    @include bodyText();
}

img {
    display: block;
    max-width: 100%;
}

nav ul {
    display: flex;
    align-items: center;
    width: 25%;
}


nav li {
    list-style: none;
}

nav li a {
    @include navText();
    text-decoration: none;
}

.indexHeader, 
.blogHeader {
    background-repeat: no-repeat;
}

.indexHeader ul li:first-child,
.blogNav ul li:nth-child(3),
.contactNav ul li:nth-child(4){
    border-bottom: 2px solid $sunflowerYellow;
}


// body {
//     background: $junoRed;
//     color: blue;
// }

// h2 {
//     @include headerFont();
// }

// h3 {
//     @include headerFont(100px, purple);
// }


// nav {
//     background: skyblue;
//     ul {
//         padding: 0;
//         margin: 0;
//         li {
//             a {
//                 color: white;
//             }
//         }
//     }
// }

